// Colors

$c-primary:#000000;
$c-secondary:#525252;

$c-btn: #4977ea;
$c-btnF: #f2f5fd;
$c-bk: #f9f4e8;

// back-grdient
// background: rgb(234,87,114);
// background: linear-gradient(280deg, rgba(234,87,114,1) 36%, rgba(234,176,81,1) 65%); 


// fonts
$font-primary: 'Lato', sans-serif;
$font-secondary: 'Playfair Display', serif;

$w-sm:400;
$w-md:700;
$w-bg:900;

// debug

$border: 1px solid red;